.row {
  float: none;
  /*background-color: white;*/
}

.p {
  /* font-size:24px */
}

#center {
  background-color: white;
  padding: 25px;
  padding bottom: 0px;
  margin: auto;
  margin-top: 30px;
}

.loginButton {
  margin: 10px;
}

#bigTitle {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 35px;
  font: Zapfino;
  font-family: "Zapfino";
}

.col-lg-4 {
  padding: 20px;
  /*margin: 20px;*/
  background-color: white;
}

#explorePhoto {

}

#explore {
  margin-top: 30px;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}
